.redux-dev-mode-notice-container.redux-dev-qtip {
	display: none;
}
.manual_adminmsg {
	padding: 20px;
	font-size: 14px;
	color: #FCFCFC;
	color: #000000;
	background: white;
	border-left: 4px solid #46b450;
	margin-top: 10px;
	margin-right: 20px;
}
.manual_adminmsg span {
	color: #C31111;
	font-weight:bold;
}
.theme_metabox_margin_left_50 {
	margin-left: 50px!important;
}
.theme_metabox_margin_left_100 {
	margin-left: 100px!important;
}
h1.ocdi__title.dashicons-before.dashicons-upload {
    display: none;
}
#setting-error-tgmpa .manual-tgmpa-modified-heading {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.3em;
    color: #dc3232;
}
#setting-error-tgmpa {
    padding: 10px 38px 10px 20px;
}
#setting-error-tgmpa.notice-warning {
    border-left-color: #dc3232;
}
.about-wrap .notice, .about-wrap div.error, .about-wrap div.updated {
	display:block!important;
}
#cpt_info_box {
	display:none!important;
}
tr#revslider-update {
    display: none;
}
/************************
REDUX ADMIN MODIFICATION
*************************/
#redux-header .rAds, #redux-header .rAds img {
	display: none!important;
}
.redux-container .redux-group-tab h3 {
	border-bottom: 5px solid #e4e3e3;
	background: #f4f2f2;
	padding: 2px 0px 2px 13px;
}
.redux-container .redux-group-tab h3:before {
	content: "\f103";
	font: normal normal normal 14px/1 'Elusive-Icons';
	padding-right: 13px;
	color: #565bf5;
	font-size: 16px;
	font-weight: 300;
}
.redux-sidebar, .redux-sidebar .redux-group-menu li.active a, .redux-sidebar .redux-group-menu li.active a:hover, .redux-sidebar .redux-group-menu li.activeChild a, .redux-sidebar .redux-group-menu li.activeChild a:hover {
    width: 250px;
}
.redux-container .redux-main {
	margin-left: 250px;
}
.redux-sidebar .redux-group-tab-link-a i {
	font-size: 14px;
    top: 12px;
}
.redux-sidebar .redux-group-tab-link-a i.el.el-chevron-down {
	font-size: 10px;
	top: 18px;
}
.redux-section-field {
    margin: 45px 0px 45px 0px;
}
.redux-group-tab.sectionsChecked > h2, .redux-group-tab > h2 {
    margin: 3em 0 2em;
    padding: 8px 15px;
    background-color: #f4f2f2;
    line-height: 1.5;
}
.redux-container .redux-group-tab {
	padding: 0 30px;
}
.redux-main .form-table-section-indented {
    margin-left: 0% !important;
}
.redux-timer, #manual-theme-install-plugins .tablenav.bottom {
	display:none;
}
.redux-info-field {
    padding: 2em;
    font-style: italic;
    line-height: 1.5;
	border: none;
}
.redux-info-field .redux-info-desc {
	font-size: 15px;
}
/*Manual Theme Option*/
.redux-container #redux-header .display_header {
    margin: 5px 15px;
}
.redux-container #redux-header .display_header h2 {
    font-size: 17px;
	margin: 10px 0px;
}
.redux-container #redux-header .display_header span {
	font-size: 16px;
	font-weight: 100;
}
.admin-color-fresh #redux-header .display_header span, .wp-customizer #redux-header .display_header span {
    color: #ffffff;
}
.redux-container #redux-header {
    border-bottom:none;
}
.redux-sidebar .redux-group-menu {
    margin-top: 45px !important;
}
.redux-container #redux-form-wrapper {
    background-color: #23282d;
}
.redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu > li > a {
    background-color: #23282d;
    color: #eee;
}
.redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu li a {
    font-weight: 400;
    opacity: 1;
    text-shadow: none !important;
    border: none !important;
    padding: 8px 4px 8px 25px;
    width: 221px;
}
.redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu > li > a:hover {
    background-color: #191e23;
    color: #00b9eb;
}
.redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu > li.active > a, .redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu > li.activeChild > a {
    background-color: #0073aa;
    color: #fff;
}
.redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu > li.active > a:after, .redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu > li.fusion-section-hover > a:after, .redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu li.activeChild > a:after {
    right: 0;
    border: 9px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    top: 50%;
    margin-top: -8px;
}
.redux-container .redux-main {
    border-left:none;
}
.redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu li.active a a li.active a, .redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu li.activeChild a a li.active a, .redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a li.active a, .redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu li.active a ul.subsection li.active a, .redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu li.activeChild a ul.subsection li.active a, .redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
    font-weight: 700;
}
.redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu > li .subsection li a {
    background-color: #32373c;
}
.redux-container #redux-form-wrapper .redux-sidebar .redux-group-menu > li .subsection {
    padding: 6px 0;
    background-color: #32373c;
    width: 100% !important;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections .active a:after, .admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a:after, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections .active a:after, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a:after {
   border: none;
}
.redux-container .redux-sidebar {
    background: #23282d;
	min-height: 100%;
    height: 100%;
}
.redux-container {
	 background: #23282d;
}
.redux-container .redux-main input {
    margin-right: 10px;
}
.notice.redux-notice {
	display:none;
}
/*CMB2*/
.metabox-location-normal #page_menu_options .inside, .metabox-location-normal #page_options .inside, .metabox-location-normal #page_header_control_options .inside, .metabox-location-normal #page_header_text_control_options .inside, .metabox-location-normal #page_footer_options .inside{
	background: #f1f1f1;
	margin: 0px 0 0 0;
}
.edit-post-layout .interface-interface-skeleton__content {
    background-color: #ffffff;
}
.manual-warning{
	background-color: #f9b826;
	margin-bottom: 20px;
    padding: 20px 25px;
    border-radius: 4px;
    color: #FFF;
}
.manual-warning a {
    color: #FFF;
	text-decoration:underline;
}
.manual-welcome-panel {
	border:4px solid #4e93d8;
}
.manual-plugin-nav-tab a.nav-tab{
	font-size: 15px!important;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#redux-connect-message { 
	display:none; 
}
#vc_license-activation-notice, .cms_tpv_promo_above_wrapper, .cms_tpv_annoying_little_box {
	display:none;
}
/*Demo Import*/
.ocdi__title-container, .ocdi__theme-about, .plugin-item.plugin-item-wpforms-lite, .plugin-item.plugin-item-all-in-one-seo-pack, .plugin-item.plugin-item-google-analytics-for-wordpress, .ocdi-content-notice.ocdi-content-notice--warning {
	display:none!important;
}
.ocdi__gl-navigation li {
    margin: 0!important;
}
#manual-theme-install-plugins .tgmpa.wrap h1 {
	display:none!important;
}
/*CMS Tree Page View*/
.cms_tpv_page_actions {
	border-radius: 5px;
    padding: 20px 20px 0 20px;
}
h4.cms_tpv_page_actions_headline {
	line-height: 1.3;
    padding-bottom: 1px;
}
.cms_tpv_page_actions:before {
    left: -12px;
	text-shadow:none!important;
}
.cms_tpv_action_edit_and_view {
	padding:5px 0px 10px 0px;
    font-size: 12px;
}
.cms_tpv_action_add_page_after, .cms_tpv_action_add_page_inside {
	font-size: 12px;
}
.cms_tpv_action_add_page {
	padding-bottom:5px;
}
.cms_tpv_action_add_and_edit_page {
	padding-bottom:20px;
}

